.form_character {
    border: 1px solid hotpink;
    padding: 0 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 450px;
}

.submit_btn {
    padding: 2px 20px;
    font-size: 1rem;
    margin: 2px;
}
