/* Import Colors */
@value colors: "./colors.css";

@value main-bg-color from colors;
@value off-white from colors;
@value light-grey from colors;
@value dark-grey from colors;
@value primary-brown from colors;
@value light-brown from colors;
@value lightest-brown from colors;
@value hot-pink from colors;

/* Utility */
.header {
    color: off-white;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-left: 3%;
}

.primaryText {
    color: lightest-brown;
    font-size: 18px;
    font-weight: 700;
}

.flexWrapper {
    display: flex;
}

.trackerContainer hr {
    border-top: 1px solid;
    border-color: primary-brown;
}

/* Layout Container */
.layoutContainer {
    display: flex;
    justify-content: space-around;
}

/* Tracker Container */
.trackerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2%;
    max-width: 40%;
}

/* Notes Container */
.notesContainer {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    max-width: 30%;
    max-height: 50%;
}

.notesContainer label {
    color: lightest-brown;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
}

.notesContainer textarea {
    background-color: dark-grey;
    color: off-white;
}

.notesContainer button {
    align-self: center;
    width: 120px;
    color: off-white;
    background-color: dark-grey;
    border: 1px solid off-white;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
}
