/* Import Colors */
@value colors: "./colors.css";

@value main-bg-color from colors;
@value off-white from colors;
@value light-grey from colors;
@value dark-grey from colors;
@value primary-brown from colors;
@value light-brown from colors;
@value lightest-brown from colors;
@value hot-pink from colors;

/* Utility */
.header {
    color: off-white;
    font-size: 4rem;
    text-align: left;
    margin-left: 5%;
}

.primaryText {
    color: lightest-brown;
    font-size: 18px;
    font-weight: 700;
}

.flexWrapper {
    display: flex;
}

.trackerContainer hr {
    border-top: 1px solid;
    border-color: primary-brown;
}

/* Layout Container */
.layoutContainer {
    display: flex;
    /* border: 1px solid hotpink; */
    justify-content: space-around;
}

/* Tracker Container */
.trackerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid red; */
    width: 600px;
}

/* Single Tracker */
.singleTracker {
    border: 1px solid off-white;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.singleTracker label {
    color: lightest-brown;
    font-weight: 500;
    font-size: 18px;
    margin-left: 12px;
    flex: 2 1 0;
}

.singleTracker .valueWrapper {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    font-weight: 500;
    margin-right: 30px;
    flex: 1 1 0;
}

.singleTracker button {
    height: 70px;
    width: 70px;
    background-color: main-bg-color;
    color: off-white;
    font-size: 2rem;
    border-radius: 0;
    border: 1px solid off-white;
}
