/* Import colors */
@value colors: "../.././styles/colors.css";

@value main-bg-color from colors;
@value off-white from colors;
@value light-grey from colors;
@value dark-grey from colors;
@value primary-brown from colors;
@value light-brown from colors;
@value lightest-brown from colors;
@value hot-pink from colors;

/* Single Tracker */
.singleTracker {
    border: 1px solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.singleTracker label {
    color: lightest-brown;
    font-weight: 500;
    font-size: 18px;
    flex: 2 1 0;
    margin-left: 5%;
}

.singleTracker .valueWrapper {
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    font-weight: 700;
    flex: 1 1 0;
    margin-right: 10%;
}

.singleTracker button {
    background-color: rgba(20, 20, 20, 0.2);
    color: off-white;
    font-size: 2.5rem;
    font-weight: 700;
    height: 60px;
    width: 60px;
    border-radius: 0;
    border: 1px solid off-white;
}

/* Hidden and pseudo classes */
.singleTracker button.close {
    margin-left: 8px;
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-color: lightest-brown;
    background-color: rgba(20, 20, 20, 0.2);
    color: lightest-brown;
}

#singleTracker button.close {
    visibility: hidden;
}

#singleTracker:hover button.close {
    visibility: visible;
}

.singleTracker:hover {
    border-color: lightest-brown;
}

.singleTracker:hover > * > * {
    border-color: lightest-brown;
}

.singleTracker:hover > * {
    border-color: lightest-brown;
}
