/* Import colors */
@value colors: "../.././styles/colors.css";

@value main-bg-color from colors;
@value off-white from colors;
@value light-grey from colors;
@value dark-grey from colors;
@value primary-brown from colors;
@value light-brown from colors;
@value lightest-brown from colors;
@value hot-pink from colors;

/* Utility */
.flexColumn {
    display: flex;
    flex-direction: column;
}

/* Variable Tracker */
.variableTracker {
    display: flex;
    border: 1px solid off-white;
    border-radius: 2px;
}

.contentWrapper {
    flex: 3 1 0;
}

.contentWrapper label {
    color: lightest-brown;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 10%;
}

.valueWrapper {
    display: flex;
    justify-content: space-around;
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0px 30px 0px 5px;
}

.valueWrapper div:nth-child(2) {
    text-align: center;
    width: 90px;
}

.valueWrapper input {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: off-white;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.2);
    font-size: 3rem;
    font-weight: 700;
    width: 90px;
}

.variableAdj {
    margin: 0;
    padding: 0;
    border-left: solid 1px off-white;
    border-radius: 0px;
    color: primary-brown;
    text-align: center;
    max-width: 20%;
    font-size: 2.8rem;
    font-weight: 700;
    background-color: rgba(20, 20, 20, 0.2);
}

.variableTracker button {
    background-color: rgba(20, 20, 20, 0.2);
    color: off-white;
    font-size: 2.5rem;
    font-weight: 900;
    width: 60px;
    border-radius: 0;
    border: 1px solid off-white;
}

/* Hidden and pseudo classes */
.variableTracker button.close {
    align-self: center;
    font-size: 1.8rem;
    font-weight: 600;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: lightest-brown;
    background-color: rgba(20, 20, 20, 0.2);
    color: lightest-brown;
}

#variableTracker button.close {
    visibility: hidden;
}

#variableTracker:hover button.close {
    visibility: visible;
}

.variableTracker:hover {
    border-color: lightest-brown;
}

.variableTracker:hover > * > * {
    border-color: lightest-brown;
}

.variableTracker:hover > * {
    border-color: lightest-brown;
}
